@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color:hsl(222, 26%, 31%);
  font-family: 'Spartan', sans-serif;
  transition: all 0.3s ease;
}

body.second-theme {
  background-color:hsl(0, 0%, 90%);
}

body.third-theme {
  background-color:hsl(268, 75%, 9%);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

h2 {
  color: white;
}

body.second-theme h2 {
  color:hsl(60, 10%, 19%);
}

body.third-theme h2 {
  color: hsl(52, 100%, 62%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 440px;
}

.theme {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.theme-number {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 0 8px 4px 8px;
}

h5 {
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

body.second-theme h5 {
  color:hsl(60, 10%, 19%);
}

body.third-theme h5 {
  color: hsl(52, 100%, 62%);
}

.theme-toggle {
  background-color: hsl(223, 31%, 20%);
  display: flex;
  align-items: center;
  position: relative;
  height: 20px;
  border-radius: 50px;
  padding: 0 4px;
}

body.second-theme .theme-toggle {
  background-color: hsl(0, 5%, 81%);
}

body.third-theme .theme-toggle {
  background-color: hsl(268, 71%, 12%);
}

.theme-toggle label {
  color: rgba(255, 255, 255, 0);
  display: block;
  height: 10px;
  width: 10px;
  text-align: center;
  border-radius: 50px;
  margin: 3px 3px;
  cursor: pointer;
  z-index: 0;
}

.theme-toggle input[type="radio"] {
  display: none;
}

.btn-theme-toggle {
  background-color: hsl(6, 63%, 50%);
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  border: 0;
  border-radius: 50%;
  transition: all 0.4s ease;
}

body.second-theme .btn-theme-toggle {
  background-color:hsl(25, 98%, 40%);
}

body.third-theme .btn-theme-toggle {
  background-color:  hsl(176, 100%, 44%);
}

#first_toggle:checked ~ .btn-theme-toggle {
  left: 4px;
}

#second_toggle:checked ~ .btn-theme-toggle {
  left: 22px;
}

#third_toggle:checked ~ .btn-theme-toggle {
  left: 40px;
}

.total {
  background: hsl(224, 36%, 15%);
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 408px;
  font-size: 36px;
  font-weight: 700;
  border-radius: 8px;
  padding: 22px 16px 16px 16px;
  margin-bottom: 16px;
}

body.second-theme .total {
  background: hsl(0, 0%, 93%);
  color:hsl(60, 10%, 19%);
}

body.third-theme .total {
  background: hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%);
}

.calculator {
  background-color: hsl(223, 31%, 20%);
  width: 400px;
  padding: 20px;
  border-radius: 8px;
}

body.second-theme .calculator {
  background: hsl(0, 5%, 81%);
}

body.third-theme .calculator {
  background: hsl(268, 71%, 12%);
}

.calculator-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 16px;
}

.btn-calculator {
  background-color: hsl(30, 25%, 89%);
  color: hsl(224, 23%, 35%);
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0px -4px 0px 0px hsl(28deg 16% 65%);
  padding: 13px 0px 12px 0px;
}

body.second-theme .btn-calculator {
  background-color: hsl(45, 7%, 89%);
  color: hsl(60, 10%, 19%);
  box-shadow: inset 0px -4px 0px 0px hsl(35, 11%, 61%);
}

body.third-theme .btn-calculator {
  background-color: hsl(268, 47%, 21%);
  color: hsl(52, 100%, 62%);
  box-shadow: inset 0px -4px 0px 0px  hsl(290, 70%, 36%);
}

.calculator-numbers > #del,
.calculator-calculate > #reset {
  background-color: hsl(225, 21%, 49%);
  color: white;
  font-size: 14px;
  box-shadow: inset 0px -4px 0px 0px hsl(224, 28%, 35%);
}

body.second-theme .calculator-numbers > #del,
body.second-theme .calculator-calculate > #reset {
  background-color: hsl(185, 42%, 37%);
  color: hsl(0, 0, 100%);
  box-shadow: inset 0px -4px 0px 0px hsl(185, 58%, 25%);
}

body.third-theme .calculator-numbers > #del,
body.third-theme .calculator-calculate > #reset {
  background-color: hsl(281, 89%, 26%);
  color: hsl(52, 100%, 62%);
  box-shadow: inset 0px -4px 0px 0px hsl(285, 91%, 52%);
}

.calculator-numbers > #times {
  text-transform: lowercase;
}

.calculator-calculate > #equal {
  background-color: hsl(6, 63%, 50%);
  color: white;
  box-shadow: inset 0px -4px 0px 0px hsl(6, 70%, 34%);
}

body.second-theme .calculator-calculate > #equal {
  background-color: hsl(25, 98%, 40%);
  color: hsl(0, 0, 100%);
  box-shadow: inset 0px -4px 0px 0px hsl(25, 99%, 27%);
}

body.third-theme .calculator-calculate > #equal {
  background-color: hsl(176, 100%, 44%);
  color: hsl(198, 20%, 13%);
  box-shadow: inset 0px -4px 0px 0px hsl(177, 92%, 70%);
}

.btn-calculator.active {
  position: relative;
  top: 4px;
}

.calculator-calculate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media only screen and (max-width:480px) {
  .header {
    width: 315px;
    margin-bottom: 32px;
  }
  h2 {
    font-size: 32px;
    margin: 0;
    padding: 0;
  }
  .total {
    width: 288px;
  }
  .calculator {
    width: 280px;
    padding: 24px;
  }
  .theme-number {
    gap: 16px;
  }
  h5 {
    font-size: 12px;
  }
  .theme-toggle {
    height: 25px;
  }
  .theme-toggle label {
    height: 15px;
    width: 15px;
  }
  .btn-theme-toggle {
    height: 15px;
    width: 15px;
  }
  #first_toggle:checked ~ .btn-theme-toggle {
    left: 6px;
  }
  #second_toggle:checked ~ .btn-theme-toggle {
    left: 28px;
  }
  #third_toggle:checked ~ .btn-theme-toggle {
    left: 52px;
  }
  .total {
    margin-bottom: 20px;
  }
  .calculator-numbers {
    gap: 12px;
    margin-bottom: 12px;
  }
  .btn-calculator {
    font-size: 28px;
    padding: 18px 0px 16px 0px;
  }
  .calculator-numbers > #del,
  .calculator-calculate > #reset,
  .calculator-calculate > #equal {
    font-size: 16px;
  }
}
